@model ComicBookGallery.Models.ComicBook

@{
    ViewBag.Title = Model.SeriesTitle;

}

<h1>@Model.SeriesTitle</h1>
<h2>Issue# @Model.IssueNumber</h2>

<h5>Description:</h5>
<div>@Html.Raw(Model.DescriptionHtml)</div>

@if (Model.Artist.Length > 0)
{
    <h5>Artists:</h5>
    <div>
        <ul>
            @foreach (var artist in Model.Artist)
            {
                <li><strong>@artist.Role:</strong> @artist.Name</li>
            }
        </ul>
    </div>
}

